# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
*.pyc
/log/
/I2P.lnk
/others.py
log*/*
/generate_ply.py
/sample_data/
/pointnet2/pointnet2.egg-info/
/pointnet2/build/
/src/dataset_local.py
/train20v2learn_local.py
/evaluation_onoutlier.py
/evaluation_test.py
/test.bash
/test_vis.bash
/evaluation_vis_test.py
/evaluation_vis_test_local.py
/wandb/
/src/modellearn_rot.py
/src/config_test.py
/kittiodo_vis.py
/pcl_visualization/
/fartest.py
/kittiodo_statis.py
/nuscenes_vis.py
/nuscenes_vis2.py
/data_preprocess/nuScenes_script/make_dataset.py
/calib_ww.py
/rgg_datas/
/requirements.txt
/src/torch_kdtree/
/src/KNN_CUDA-master/
/nuscenes_vis3.py
/src/nuscenes_loader_snr.py
/evaluation_vis_origin_err.py
/src/util/gpu_mem_track.py
/data_preprocess/nuScenes_script/make_dataset_corr.py
/data_preprocess/nuScenes_script/make_dataset_corr_pkl.py
/src/util/modelsize_estimate.py
/src/pykitti/
/data_preprocess/CMRNet_script/test_set_trans/
/data_preprocess/CMRNet_script/data/
/data_preprocess/place_reg_script.py
/data_preprocess/place_reg/
/src/util/lie_metric/data_64.config.yaml
/data_preprocess/CMRNet_script/runtime_build_map_test.py
/data_preprocess/CMRNet_script/generate_test_trans.py
/data_preprocess/CMRNet_script/generate_ply.py
/generate_paper_vis.py
/evaluation_vis_test_cmr.py
/proj_debug_file_vis.py
/new_ops_debug/
/src/util/tracker.py
/data_preprocess/nuScenes_script/nuscenes_reverse.py
/src/kitti_odometry_ori_snr_proj.py
/pointnet2/pointnet2_cuda.cpython-38-x86_64-linux-gnu.so
/model_zoo/
*.html
/make3.md
/vis3d
/pytorch3d
/test
